{% load i18n %}{% autoescape off %}
{% blocktrans %}Hi, {{user.get_short_name}}{% endblocktrans %}
{% blocktrans %}We received your request for email login instructions.{% endblocktrans %}
{% trans "First, you’ll want to create a new password. You can then use it with this email address to log into your account." %}
{% block reset_link %}
{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "If you didn’t make a request, you can ignore this email." %}

{% trans "Thanks," %}

{% blocktrans %}Rosita y Sergio from Waysily{% endblocktrans %}

{% endautoescape %}